__pycache__/
*/__pycache__/
*/*/__pycache__/
*~
#*
@*
build/
dist/
GenIce.egg*
*.rst
Utilities/*.log
Utilities/*.yap
\.yapviewstack

/*.svg
/*.yap
/*.scad
/*.ngph
/*.zip
/*.cif
/*.ar3r
/*.gro
/*.ar3r
/*.nx3a

benchmark\.txt

Prepare/
tests/*.done
tests/sort_tmp/*
tests/trash/*
tests-local/


*.eps
*.log


*.voro

*.db

README\.md\.1
