# all ########################
__pycache__/
*/__pycache__/
*/*/__pycache__/
*~
#*
@*
build/
dist/
*.egg-info/*
*.rst
Utilities/*.log
Utilities/*.yap
\.yapviewstack
cages.py
*.old

# root #######################
/*.svg
/*.yap
/*.scad
/*.ngph
/*.zip
/*.cif
/*.ar3r
/*.gro
/*.ar3r
/*.nx3a
/*.eps
/*.log
/*.voro
/*.db
/*.cif
/*.png
/*.pdf
/*.tgz
benchmark\.txt
README\.md\.1
/*.lock
/*.mp4


# folders ####################
docs/*.svg
docs/*.png
docs/*.cif
docs/*.gro
docs/ja

lattices/*
lattices (1)/*

molecules/*

Prepare/
tests/*.done
tests/sort_tmp/*
tests/trash/*
tests-local/
tests/auto/*.gro
tests/auto/Makefile.*

genice2/*/_original
genice2/*/_original2
genice2/*.cif
genice2/*/*.cif

genice2/lattices/engel/diverse_ice_structures

.ipynb_checkpoints/

old.citations.json
.vscode/configurationCache.log
.vscode/dryrun.log
.vscode/settings.json
.vscode/targets.log
1h_unit.pdb
tests/install/Pipfile.lock
